<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter" ng-controller="ToDoListCtrl">

  <ion-pane>
    <ion-header-bar class="bar-royal">

      <!-- <button class="button" ng-click="closeModal()">Back</button> -->
      <h1 class="title">My ToDo List</h1>

    <div class="buttons">
    <button class="button " ng-click="openModal()">Add Task</button>
    </div>

    </ion-header-bar>
    <ion-content>

      <table class="table">
      <thead>
        <tr>
          <th width="70%" >
            <strong></strong>
          </th>
          <th width="30%">
            <strong></strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in toDoListItems" >
          <td style="padding-bottom: 10px; padding-top: 10px;padding-left: 20px;">{{item.task}}</td>
          <td style="padding-bottom: 10px; padding-top: 10px;">
             <button class="button button-dark" ng-click="remove($index)">Done</button>

          </td>
         
      </tr>
      </tbody>
    </table>
     <!--  <ion-list >
        <ion-item ng-repeat="item in toDoListItems">
           {{item.task}} -->
          <!-- <div class="row"> -->

          <!-- <div class="col text-right"> -->
          <!-- <button class="button button-dark" ng-click="remove()">Done</button> -->
          

          <!-- <div class="buttons"> -->
   
    <!-- </div> -->
<!-- 
        </ion-item>
      </ion-list> -->
    </ion-content>
  </ion-pane>

    <script id="modal.html" type="text/ng-template">
    <div class="modal">

  <div class="bar bar-header bar-calm">
  <button class="button" ng-click="closeModal()">back</button>
      <h1 class="title">Add Task</h1>
    </div>
<br></br>
<br></br>
<form ng-submit="AddItem(data)">
<div class="list">
  <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="ToDo Task" ng-model="data.newItem">
    </label>
    </div>
      <button class="button button-block button-positive" type="submit">
        Add Task
      </button>
</div>
</form>



  </div>
  </script>
  
<!-- Controllers -->
    <script src="js/controllers.js"></script>   

</body>

</html>



